.object_status{
    background-color: var(--bg-blue);
    border-radius: 10px;
    display: flex;
    color:var(--white-text-1);
    align-items: center;
    gap: 0.5em;
    padding: 1%;
}

.img_layout_status{
    width: 2.5em;
    height: 2.5em;
    object-fit: cover;
    border-radius: 50%;
}

.delete_user_status{
    font-size: 1.375em;
    margin-top: 1%;
    cursor: pointer;
}