.checkbox_admin_filter[type='radio']{
    appearance: none; 
    background-color: var(--bg-blue); 
    border:1px solid var(--white-text-1);
    width: 16px;
    height: 16px;
}

.checkbox_admin_filter[type='radio']:checked{
    background-color: var(--white-text-1);
    border: 1px solid var(--status-grey);
}