.user_info{
  display: grid;
  grid-template-columns: 3vw 14vw 14vw 14vw 5vw 8vw 8vw;
  justify-content: flex-start;
  gap: 1%;
  background-color: #e0e0e0;
  border-radius: 1rem;
  padding: 1%;
  margin-bottom: 1%;
}

.admin_user_photo{
  height: 3.4vh;
  width: 2.2vw;
	object-fit: cover;
	border-radius: 50%;
}

.ellipsis{
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:nowrap;
}




.cb_confirm_changes{
  appearance: none;
  background-color:#e0e0e0 ;
  border: 1px solid #848484;
  width: 2.3vh;
  height: 2.3vh;

}

.text_center{
  text-align: center;
}
