.user_info{
    display: flex;
    gap: 2%;
    align-items: center;
    background-color: var(--bg-checkbox-grey);
    border-radius: 1em;
    padding: 1%;
    margin-bottom: 1%;
  }
  
  .admin_user_photo{
    height: 1.875em;
    width: 1.875em;
      object-fit: cover;
      border-radius: 50%;
  }
  
  .ellipsis{
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
  }
  
  .center_img{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  