.registry {
    position: relative;
}

.background_registry {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background: rgba(0, 0, 0, 0.61);
}

.background_image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -3;
}

.subtitle_form_registry {
    padding: 2px 0;
    border-bottom: 2px solid #f9f9f9;
    color: var(--gray-text-1);
    font-family: var(--font-1);
}