.header {
    background: #FFFF;
    box-sizing: none;
}

.center_nav_bar {
    max-width: 1100px;
    margin: auto;
    /* height: 54px; */
    padding: 15px 20px;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 200px;
}

.nav_login {
    display: flex;
    align-items: center;
    gap: 12px;
}

.link_header_login {
    text-decoration: none;
    color: var(--bg-blue);
    font-family: 'coco gothic';
}

.or_nav_login {
    font-family: 'coco gothic';
    color: var(--gray-text-3);
}