<<<<<<< HEAD
.color {
    color: rgba(104, 104, 104, 0.459);
}
=======
.search_filter_admin_users{
    display: flex;
    justify-content: space-between;
}

>>>>>>> a15e1011c92e2370272c57b2c505640c20b577f5
