.content_filter{
    width: 10%;
}
.btn_search_filter_admin_users{
    width: 100%;
    height: 100%;
}

.filter_options{
    top: 8vh;
    left: -16vh;
    width: 30vh;
    z-index: 1;
}
.checkbox_filter label span::after{
    background-color: var(--bg-blue);
}