.content_filter{
    width: 10%;
}

.btn_search_filter_admin_users{
    width: 100%;
    height: 100%;
}

.filter_options{
    top: 4rem;
    left: -5rem;
    width: 15rem;
    z-index: 1;
}

/* checkbox*/


.span_filter::after{
    background-color: var(--bg-blue);
    border: 1px solid #ffff;
}


/*estado user color*/

.color_state_user{
    cursor: pointer;
}

.color_state_user::after {
    content: "";
    display: block;
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 100%;
    margin-right: 0.4rem;
}

.spacing_type_suspension{
    align-items: baseline;
}

.grey::after{
    background-color: var(--status-grey);
}

.yellow::after{
    background-color: var(--status-yellow);
}

.green::after{
    background-color: var(--status-green);
}

.red::after{
    background-color: var(--status-red);
}