.dashboard_header{
    background-color: var(--bg-dashboard-grey);
    padding: 1% 2%;
    border-radius: 1em;
    display: flex;
    gap: 2%;
    color: var(--bd-checkbox-grey);
    align-items: center;
}
.reportColor{color:var(--status-red)}

@media (min-width: 320px) and (max-width: 480px) {
    

    
}
