.dashboard_header{
    background-color: #ebebeb;
    margin: 2% 0%;
    padding: 1%;
    padding-left: 2%;
    border-radius: 1rem;
    display: grid;
    justify-content: flex-start;
    grid-template-columns: 3vw 14vw 14vw 14vw 5vw 8vw 8vw;
    gap: 1%;
    color: #848484;
}
.report{color:#ff3e3e}
