.content_type_report{
    left: -3.125em;
}

.typ_report{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    height: 1.625em;
}

.count_reports{
    cursor: pointer;
    user-select: none;
}