.overlay{
    background: rgba(0, 0, 0,.3);
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup_admin_save_changes_admin{
    background-color: var(--white-text-1);
    padding: 2%;
    border-radius: 10px;
}