.position_relative{
    position: relative;
}


.spacing{
    margin-bottom: 4%;
}

.op_text_state_users{
    cursor: pointer;
    text-align: end;
    position: relative;
    user-select: none;
}

.op_state_user{
    cursor: pointer;
    text-align: end;
    position: relative;
    user-select: none;
    color: var(--white-text-1)
}

.op_state_user::before{
    content: "";
    display: block;
    height: 0.625em;
    width: 0.625em;
    border-radius: 50%;
    position: absolute;
    top:0.4375em;
    left: 0.375em;
}

.green{
    color: var(--status-green);
}

.yellow{
    color: var(--status-yellow);
}

.red{
    color: var(--status-red);
}

.state_1::before{
    background-color: var(--status-green);
}

.state_2::before{
    background-color: var(--status-yellow);
}

.state_3::before{
    background-color: var(--status-red);
}

.field105px{
    width: 6.5625em;
}
.field116px{
    width: 7.25em;
}

.field160px{
    width: 10em;
}

